@charset "utf-8";
*{
    box-sizing: border-box; /* tính padding vào thành phần*/
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
@font-face {
    font-family: fontviet;
    src: url(../font/pala.ttf);
  }
  @font-face {
    font-family: SignWriter;
    src: url(../font/UTM\ A&S\ Signwriter.ttf);
  }

*{
    font-family:  serif, Georgia, Times, 'Times New Roman';
    text-align: center;
}

/* Tiêu đề */

.tieude{
    display:flex;
    background-color: #fff;
}
.tieude-trai{
    width: 25%;
    display: flex;
    margin-top: 15px;
}
.tieude-giua{
    width: 60%;
    align-content: center;
    padding-right: 150px

}
.tieude-phai{
    width: 15%;
    align-content: center;
    margin-top: 15px;
}
nav ul li{
    list-style-type: none;
    display: block;
 
}

nav.thanhpho ul li a:hover{
    color:aqua;
    font-family: sans-serif;
}
nav.thanhpho ul li a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    
  
}
nav.thanhpho >ul li {
    border-right: 0.5px solid black;
}
nav.thanhpho >ul li:last-child{
    border-right: none;
}
nav ul{
    display: flex;
    vertical-align: middle;
    margin-block-start: 0px;
}

img{
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    
}
form{
    display: block;
}
.searchInput {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    background-color: #fefefe;
    border: solid 1px #a7a7a7;
    padding: 8px 0 8px 15px;
    width: 100%;
   
}

.btnSearch {
    font-size: 0;
    border: none;
    background: url(..//images/search_icon.png);
    
    width: 22px;
    height: 22px;
    position: absolute;
    right:20px;
    top: 20px;
}
.btnSearch:hover{
    cursor: pointer;
}
.searchInput:hover{
    cursor: text;
}
.searchHeader .searchInput{
    text-align: left;
}

/*Header thanh menu đã chỉnh sửa*/
.header{
    width: 100%;
    position: fixed;
}

.Menu>ul>li>a{
    border-bottom: 2px solid #ffff;
}
.Menu >ul>li>a{
    font-family: sans-serif;
    text-decoration: none;/*xoa gach */
    text-align: center;
    display: block;
    color: black;
    font-size: 14px;
    padding:5px;
}
.Menu{

    border-bottom: 1px solid grey;}
.Menu > ul>li>a:hover{
    /*background-color: thistle;*/
    border-bottom: 2px solid black;
    color: black;
    font-weight: bold;
    
}

.Menu>ul {
    list-style-type: none;
    margin:auto;
    display: flex;
    width: 80%
}

.Menu>ul>li{
    padding: 10px 15px ;
    width: 14%;
    border-right: none;
    text-align: center;
    padding: 0;


}

/*Phần bên dưới Menu*/
.dropdownContent {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #ffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 0px 20px 20px;
  left: 0px;
}

.dropdownContent section {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}
.dropdownContent section>div.dropdownContent1{
    width: 20%;
    padding: 0;
    margin: 0;
}

.dropdownContent section>div.dropdownContent1>h2{
    margin: 0;
    padding: 0;
    font-size: 1.25vw;
}

.dropdownContent section>div.dropdownContent1>li{
    width: 60%;
    text-align: left;
    margin: auto;
}
.dropdownContent section>div.dropdownContent1>li.drop1{
    width: 80%;
    text-align: left;
    margin: auto;
}
.dropdownContent section>div.dropdownContent1>li>a{
    
    color: black;
    text-decoration: none;
}
.dropdownContent section>div.dropdownContent1>li>a:hover{
    
    text-decoration: underline;
}

.dropImg>a>img{
    width: 80%;
    height: 20vw;
    margin: auto;
    border-radius: 10px;
}
.dropImg1>a>img{
    width: 150%;
    height: 20vw;
    margin: auto;
    border-radius: 10px;
}
.dropImg3>a>img{
    width: 400%;
    height: 15vw;
    margin: auto;
    border-radius: 10px;
}
.dropdownContent section>div.dropdownContent2{
    width: 80%;
    padding: 0;
    margin: 0;
}
a>img:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdownContent section>div.dropdownContent1>h3{
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 1vw;
    color: grey;
    font-weight: normal;
}
/*
.dropdownContent section:hover {
    background-color: #ddd;

    border-radius: 0px 0px 20px 20px;
}
*/


.Menu > ul>li:hover .dropdownContent {
    display: block;
}

.LoaiSP{
    margin: 0 auto;
    padding: 0;
}
ul{
    list-style-type: none;

}
nav{
    background-color: white;
    line-height:25px;
}


/* NAV Header */
/*.menu{
    text-align: center;
}
.menu ul{
    display: inline-flex;
}

nav.header-nav ul li a{
    color: black;
 
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
 
}
nav.header-nav ul li{
    border-right: 1px solid white;
    padding: 10px 15px ;
    width: 200px;
}

nav.header-nav ul li:hover{
    background-color: thistle;
}

ul.LoaiSP{
    
   
    margin-bottom: 0px;
    /* justify-content: center; căn chỉnh nội dụng ở giữa */
/*
}
ul.LoaiSP li:last-child{
    border-right: none;
}
header.header{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1020;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 1.5;
    font-size: 14px;
}*/
.hienthianh{
    width: 100%;
    
}

.hienthianh>img{
    margin-top: 93px;
    
}
section.section-row1{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}

div.item1{
    width: 50%;

    padding: 0 10px;

}

p.TuiHeader{
    margin: 0px;
    font-size: xxx-large;
    font-family: SignWriter;
    font-size: 3vw; /*vw là đơn vị co giãn theo kích thước màn hình */
}
div.item1 >a{
    color: black;

}

div.row{
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

div.row3{
    width: 100%;
}

section.section-row1 .item2{
    display: block;
    width: 25%;
    padding: 0 10px;

}
.xemthem{
    font-size: 15px;
    color: black;
    margin-bottom: 20px ;
    font-family: cursive;
}

p.maumoi{
    font-family: cursive;
}
.section-row3{
    display: flex;
}





