@charset "utf-8";
body{
	font-family: sans-serif;
	margin: 0;
}
.header{
	position: fixed;
	width: 100%;
	display: block;
	z-index: 1000;

}
.Title{
	background-color: white;
	align-content: center;
}
.tieude-giua{
    width: 10%;
    align-content: center;
    margin: auto;
}
.Menu>ul>li>a{
	border-bottom: 2px solid #ffff;
}
.Menu >ul>li>a{
	text-decoration: none;/*xoa gach */
	text-align: center;
	display: block;
	color: black;
	font-size: 14px;
	padding:5px;
}
.Menu{

	border-bottom: 1px solid grey;}
.Menu > ul>li>a:hover{
	/*background-color: thistle;*/
	border-bottom: 2px solid black;
	color: black;
	font-weight: bold;
	
}

.Menu>ul {
 	list-style-type: none;
 	margin:auto;
 	display: flex;
 	width: 80%
}

.Menu>ul>li{
    padding: 10px 15px ;
    width: 14%;
    border-right: none;
    text-align: center;
    padding: 0;


}

/*Phần bên dưới Menu*/
.dropdownContent {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #ffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 0px 0px 20px 20px;
  left: 0px;
}

.dropdownContent section {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}
.dropdownContent section>div.dropdownContent1{
	width: 20%;
	padding: 0;
	margin: 0;
}

.dropdownContent section>div.dropdownContent1>h2{
	margin: 0;
	padding: 0;
	font-size: 1.25vw;
}

.dropdownContent section>div.dropdownContent1>li{
	width: 60%;
	text-align: left;
	margin: auto;
}
.dropdownContent section>div.dropdownContent1>li.drop1{
	width: 80%;
	text-align: left;
	margin: auto;
}
.dropdownContent section>div.dropdownContent1>li>a{
	
	color: black;
	text-decoration: none;
}
.dropdownContent section>div.dropdownContent1>li>a:hover{
	
	text-decoration: underline;
}

.dropImg>a>img{
	width: 80%;
	height: 20vw;
	margin: auto;
	border-radius: 10px;
}
.dropImg1>a>img{
	width: 150%;
	height: 20vw;
	margin: auto;
	border-radius: 10px;
}
.dropImg2>a>img{
	width: 400%;
	height: 15vw;
	margin: auto;
	border-radius: 10px;
}
a>img:hover{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdownContent section>div.dropdownContent1>h3{
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: 1vw;
	color: grey;
	font-weight: normal;
}
/*
.dropdownContent section:hover {
	background-color: #ddd;

    border-radius: 0px 0px 20px 20px;
}
*/


.Menu > ul>li:hover .dropdownContent {
	display: block;
}

.LoaiSP{
	margin: 0 auto;
	padding: 0;
}
ul{
	list-style-type: none;

}
nav{
	background-color: white;
	line-height:25px;
}

.form>li>div label{
	display: block;
	color: grey;
	font-size: 14px;
	padding-bottom: 3px;
}
input{
	height: 30px;
	width: 300px;
	border:  1px solid black;
	font-style: italic;
}
input:hover{
	cursor: text;
}

.form > li > div{
	padding-top: 20px;
}
div.leftPro{
	border-right: 1px solid grey;
	padding-right: 30px;
	z-index: 1;

}
div.left{
	border-right: 1px solid grey;
	padding-right: 30px;

}
h2{
	padding-left: 50px;
	font-size: 25px;
}
.remember input{
	width: 15px;
	height: 15px;
	border: none;
	padding-left: : 10px;
	margin: 0px;
	font-size: 10px;


}
.remember>input:hover{
	cursor: pointer;
}
.remember {
	font-size: 13px;
	padding-right: 80px;
	margin-left: 40px;
}

.forgotpass {
	font-size: 13px;
}
.btnSignIn{
	background-color: black;
	width: 150px;
	height: 40px;
	margin-left: 100px;
	margin-top: 20px;
}
.btnSignIn> span>a{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

.btnSignIn:hover{
	background-color: grey;
	cursor: pointer;
}
div.right{
	width: 50%;
}


section.content{
	 margin: 0 auto; /* chỉnh lề giao diện tự động */
     width: 800px;
     padding-top: 150px;
     padding-bottom: 50px;
     display: flex;
}
h4{
	font-weight: normal;
	color: grey;
	font-size: 16px;
	font-style: italic;
	padding-left: 20px;
	margin-top: 40px;
}
.right > ul> li{
	color: grey;
	font-size: 13px;

}


.footer > ul > li > h2{
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	font-size: 18px;
}

.footer { 
	background-color: black; 
	height: 300px;
	color: white;
}
.footer >ul{
	padding: 0;
 	margin:0;
 	display: flex;

}
.footer >ul>li{
	width: 33%;
}
.footer >ul>li>img{
	width: 50%;
}
.footer >ul>li>ul{
	width: 50%;
}
.footer li{
	list-style-type: none;
}
.linkConnection{
	display: flex;

}
.linkConnection > li{
	padding-left: 15px;
}
.info{
	font-size: 15px;
	padding-left: 30px;
	padding-right: 30px;
}
img:hover{
	cursor: pointer;
}
ul>li>img{
	padding-left: 60px;
}


/*Product*/

section.content1{
	 /*margin: 0 auto;  chỉnh lề giao diện tự động */
     width: 80%;
     padding-top: 120px;
     padding-bottom: 30px;
     margin: 50px;
     
	 display: flex;
	 margin: auto;
}
section.content1 img{
	z-index: -1;
}
.left>div>h4{
	font-size: 20px;
	margin: auto;
	padding-left: 100px;
	font-weight: bold;
}
.left>div>h4:hover{
	color: red;
}
.content1>div.left{
	width: 70%;
	padding-bottom: 100px;
}

.content1>ul{
	width: 30%;
	display: flex;
	flex-wrap: wrap;


}
.content1>div.right>ul>h1{
	border-bottom: 2px solid black;
	font-size: 20px;
}
.content1>div.right>ul>p{
	font-size: 18px;
}
.right>div>h2{
	color: red;
	font-size: 30px;
	padding-top: 0px;
	margin-top: 0px;

}
.content1>div.right>ul>li{
	font-size: 20px;
}
.content1>div.right>ul{
	margin: 10px;
	margin-bottom: 30px;
}
span.ship{
	border-bottom: 1px solid black; 
}
.right{
	width: 30%;
	padding-right: 50px;
}

div.item{
	width: 60%;
	margin: auto;
}
.content1>div>ul>div{
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}



* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}


figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 25vw;
  overflow: hidden;
  cursor: zoom-in;/*
  padding: 40px;*/
}

figure.zoom img:hover {
  opacity: 0;
}

figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;/*
  margin: 40px;*/
  
}
.slideshow-container {
  
  position: relative;
  padding-top: 0px;
}
.slideshow-container>img{
	z-index: -1;
}
.mySlides {
  display: none;
  padding-left: 70px;
  padding-right: 70px;
}




/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*Su kien re chuot len btn*/
.prev:hover, .next:hover {
  background-color: grey;
}

/* Caption text */



.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}







/*SignUp*/
.itemSignUp>img{
	width: 100%;
	height: 100%;
}
.introduce{
	margin: 0;
	padding: 0;
}
.rightSignUp input{
	border:none;
	border-bottom: 1px solid grey;
	font-size: 16px;
	height: 30px;
}
.rightSignUp div{
	margin: 20px;
}
.rightSignUp {
	width: 70%;
}

.rightSignUp button{
	color: white;
	font-weight: bold;
}




/*Shoes*/
.top{
	margin: 0;
	padding: 0;
}
.top>img{
	width: 100%;
	height: 25vw;
	margin-top: 100px;
}
.contentListPro{
	height: 100%;
	margin-bottom: 10px;
}
.contentListPro>div.top>img{
	width: 100%;

}

.products{
	display: flex;
	margin-bottom: 10px;
	padding-top: 30px;
	flex-wrap: wrap;
}

.product{
	width: 18%;
	padding-left: 0px;
	margin: auto;
	padding:1px;
	border:1px solid #ffff;	
	
}
.product:hover{
	border: 1px solid black;
}

div.Imgpro>a>img{
	width: 100%;
	height: 22vw;
}

div.Title>h3{
	font-size: 14px;
	margin: 0;
	color: red;
}
div.Title>li{
	padding-bottom: 10px;
	font-size: 14px;
	color: grey;
}

a.blue>span>img{
	width: 1.5vw;
	height: 1.5vw;
}
.contentListPro>div>h1{
	width: 60%;
	text-align: center;
	margin: auto;
	border-bottom: 1px solid black;
}
div.Title{
	flex-wrap: flex;
}
div.Title>p{
	font-size: 12px;
	color: grey;
	margin: 0;
	font-weight: normal;
	text-decoration-line: line-through;
}






/*btnScroll*/


.btnScroll {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: -35px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: white; 
  padding: 5px;
  color: black; 
  cursor: pointer;
  border-radius: 5px; 
  font-size: 16px; 
  font-weight: bold;
  transform: rotate(-90deg);
  margin: 0;
  text-align: center;
}


.btnScroll:hover {
  background-color: lightgrey; /* Add a dark-grey background on hover */
}
p.maumoi{
    font-family: cursive;
    text-align: center;
    margin: auto;

}

p.maumoi>img{
	height: 14px;
}

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}



/*"MAX&CO - Khăn choàng Double Sided","MUJOSH - Kính mát tròn khuyết cạnh Avant Garde","MUJOSH - Kính mát thông minh chống nắng tối ưu","TED BAKER - Túi đựng dụng cụ trang điểm Eulali","TED BAKER - Ốp lưng điện thoại iphone XR Abbieey","TED BAKER - Ốp lưng điện thoại iphone 6,7,8 Plus","MUJOSH - Kính mát thông minh chống nắng tối ưu","MUJOSH - Kính mát đa giác thời thượng","PUMA","Aojo - Kính mát bé gái hình con voi dễ thương","MUJOSH - Kính mát đa giác bo tròn thời trang","DSQUARED2 - Nón bóng chày Dsquared2 1964","DSQUARED2 - Nón nam thêu cá tính Logo Patch","DSQUARED2","Nón nam thêu cá tính Canada Plate","Leather and House Check High-top Sneakers","Leather, Vintage Check Cotton and Suede Tor Boots","Men's Disney x Gucci Rhyton","Men's Rhyton Gucci Worldwide","Women's Gucci Tennis 1977","Air Jordan 1 Mid SE","Air Jordan XXXIII","Nike Air Max 97","VANS CHECKERBOARD SLIP-ON CLASSIC BLACKWHITE","VANS OLD SKOOL CLASSIC BLACKWHITE","Chuck Taylor All Star Chuck Taylor Cheerful Hi Top","Chuck Taylor All Star Twisted Classic Logo Play Hi","Monogram Print E-canvas Arthur","Ultraboost SandL Star Wars","Giay UltraBoost MTL","Flight by VietMax","Ivory Black","LEBY LEMINO - Túi Sách Nữ","PEDRO - Hiệu ứng trong suốt","Woven Zip Around Wallet","Snake Print Woven Shoulder Bag","Glitter Top Handle Envelope Bag","Angular Flap Shoulder Bag","Túi Angular Flap Metallic Top Handle" ,"Túi Small Two-Tone Sculptural" ,"Túi Metal Top Handle Long Wallet" ,"Túi Woven Shoulder ","Túi Small Chunky Chain Strap ","Túi Grommet Strap Tote" ,"Túi Curved Tote","Túi Double Top Handle Tote","Túi Textured Crossbody","Túi Leather Saddle Bag","Túi Triangle Handle Tote Bag","Túi Metallic Accent Mini Wallet","Túi Pleated Drawstring Bag","Túi Textured Zip Around Wallet"*/


